.line.active {
    stroke-width: 1;
}

div.bar-line-tooltip {
    position: absolute;
    text-align: center;
    width: 85px;
    height: 27px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}