.states {
    fill: #ccc;
    stroke: #fff;
}

.state {
    fill: none;
    stroke: #FFF;
    stroke-width: 1px;
}

text.state {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-anchor: middle;
    fill: #000;
}

.info {
    display: none;
}

div.tooltip {
    position: absolute;
    text-align: center;
    height: 14px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}